[run]
omit =
    *.venv/*
    *__init__.py*
    *admin.py*
    *urls.py*
    */migrations/*
    tests.py

[report]
omit =
    *.venv/*
    *__init__.py*
    *admin.py*
    *urls.py*
    */migrations/*
    tests.py