.no-funds {
    font-weight: 500;
}

.filters {
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    font-size: 0.75rem;
    border: 1px solid var(--background);
    padding: 0.5rem;
}

table tr:nth-child(even) {
    background-color: var(--background);
}
