{% extends "layout/base.html" %}
{% load static %}

{% block head %}
<title>Upload Fund Data</title>
<meta name="title" content="Upload Fund Data">
<meta name="description" content="Page Description">
<link rel="preload" as="style" defer href="{% static 'css/funds-upload.min.css' %}?v=1.2025_03_23.01">
<link rel="stylesheet" defer href="{% static 'css/funds-upload.min.css' %}?v=1.2025_03_23.01">
{% endblock %}

{% block content %}
{% if messages %}
<div class="messages">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<section>
    <div class="container">
        <h1>Upload Fund Data</h1>
        <p>Select a CSV file containing fund data (max 16MB).</p>
        <form action="{% url 'funds:funds_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ FundDataForm.as_div }}
            <button type="submit">Upload</button>
        </form>
    </div>
</section>
{% endblock %}
