<header>
    <nav>
        <ul>
            <li>
                <a href="/" aria-label="Home">Home</a>
            </li>
            <li>
                <a href="/funds/" aria-label="Funds">Funds</a>
            </li>
            <li>
                <a href="/funds/upload/" aria-label="Upload Fund data">Upload Fund data</a>
            </li>
            <li>
                <a href="/api/v1/funds/" aria-label="API Fund List">API Fund List</a>
            </li>
        </ul>
    </nav>
</header>
